[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"
requests = "*"
django-environ = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
